LINODE_TOKEN=replace-with-your-linode-token
LINODE_TYPE=g6-nanode-1
LINODE_ROOT_PASS=jQ93nopihiwdf&!
GOLDEN_IMAGE_ID=private/37141362
LINODE_MANAGED_TAG=serverless-gpu-managed
LINODE_CLUSTER_TAG=serverless-gpu-default
MIN_NODES=0
MAX_NODES=2
MONITOR_INTERVAL=2s
COOLDOWN_DURATION=30m
SCALE_UP_THRESHOLD=1
SCALE_UP_DURATION=10s
SCALE_DOWN_IDLE_DURATION=60s
SCALE_TO_ZERO_IDLE_DURATION=180s